// /* You global Sass file */

@import "~bulma/bulma.sass";
$yellow: #fff159;
$warning: $yellow;
$grey: #ebebeb;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar {
  background-color: $yellow;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: $yellow;
}
.breadcrumb {
  padding: 35px 10px 10px 10px;
}

.background {
  background-color: $grey;
  padding-bottom: 5%;
}
.body {
  background-color: white;
  margin-top: 20px;
}
.thumbnail {
  text-align: center;
}
.general {
  height: 150px;
}
.general:first-of-type {
  padding-top: 20px;
}
.description {
  margin-left: 25px;
}
.full-width {
  width: 100%;
  float: left;
}
